repos:
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.10
    hooks:
        # Run the linter.
        - id: ruff
          args: [ --fix ]
        # Run the formatter.
        - id: ruff-format
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        pass_filenames: false

