name: workflow

on: [push, pull_request]

permissions:
  actions: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  PYTHON_VERSIONS: '["3.10", "3.11", "3.12", "3.13", "3.14"]'
  POETRY_VERSION: 2.2.1

jobs:
  # workaround since matrix can not access `env` but can access `needs`
  python-versions:
    runs-on: "ubuntu-latest"
    outputs:
      versions: ${{ steps.set-versions.outputs.versions }}
    steps:
      - id: set-versions
        run: echo "versions=$PYTHON_VERSIONS" >> $GITHUB_OUTPUT

  lock:
    needs: python-versions
    strategy:
      matrix:
        python-version: ${{ fromJSON(needs.python-versions.outputs.versions) }}
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - run: curl -sSL https://install.python-poetry.org | python3 -
      - run: poetry lock
      - uses: actions/cache@v5
        with:
          path: poetry.lock
          key: ${{ github.sha }}-${{ matrix.python-version }}
  
  pytest:
    needs: [lock, python-versions]
    strategy:
      matrix:
        python-version: ${{ fromJSON(needs.python-versions.outputs.versions) }}
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v5
        with:
          path: poetry.lock
          key: ${{ github.sha }}-${{ matrix.python-version }}
      - run: curl -sSL https://install.python-poetry.org | python3 -
      - run: poetry install
      - run: poetry run pytest --verbose
  
  mypy:
    needs: [lock, python-versions]
    strategy:
      matrix:
        python-version: ${{ fromJSON(needs.python-versions.outputs.versions) }}
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v5
        with:
          path: poetry.lock
          key: ${{ github.sha }}-${{ matrix.python-version }}
      - run: curl -sSL https://install.python-poetry.org | python3 -
      - run: poetry install
      - run: poetry run mypy
  
  ruff:
    needs: lock
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - uses: actions/cache@v5
        with:
          path: poetry.lock
          key: ${{ github.sha }}-3.14
      - run: curl -sSL https://install.python-poetry.org | python3 -
      - run: poetry install
      - run: poetry run ruff check src/ tests/
      - run: poetry run ruff format --check src/ tests/